.footer{
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: flex-end;
    background-color:cornsilk;
}

.footer .title-group{
    color: black;
    font-size: 1.1rem;
    font-weight: 300;
}